/*
 *
 * NAVBAR
 *
 */
.search {
    max-width: 400px;
}
#profileCard {
    width: 400px;
    display: none;
}
#mobileProfileNav {
    display: none;
}
/* md and below */
@media (max-width: 767px) {
    .search {
        max-width: none;
    }
    #profileCard, #profileCard * {
        display: none !important;
        nav-index: -1;
    }
    #mobileProfileNav {
        display: block;
    }
}